<div id="<%= dom_id membership %>">
  <p>
    <strong>Typemem:</strong>
    <%= membership.TypeMem %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= membership.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= membership.description %>
  </p>

</div>
