<div class="max-w-3xl mx-auto px-4">
  <div style="display: flex; flex-direction: column; padding-top: 20px; ">
    <%= render 'form', usertable: @usertable %>
    
    <% if @usertable.persisted? %>
      <div style="width: auto; text-align: center; margin-bottom: 16px; align-items: center; justify-content: center;">
        <%= button_to 'Delete Profile', @usertable, method: :delete, style: "color: #e53e3e; text-decoration: underline;", data: { turbo_confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</div>

<style>
  .max-w-3xl {
    max-width: 768px;
  }
</style>
