<div class="fixed top-0 left-0 right-0 h-16 bg-white shadow-sm z-30 flex items-center px-6" style="height: 70px;">
  <div class="flex-1 flex justify-end">
    <%= image_tag("datingapplogo.png", size: '40', class: "mr-4") %>
    <h1 class="text-xl font-bold text-gray-800">Dating App</h1>
  </div>
  
  <div class="flex-1 flex justify-center">
    <h1 class="text-gray-800" style="font-size: 36px; font-weight: 1000; line-height: 1.2;">
      <% case controller_name %>
      <% when 'usertables' %>
        <% if action_name == 'edit' %>
          Edit Profile
        <% else %>
          Your Profile
        <% end %>
      <% when 'swipes' %>
        Swipe
      <% when 'messages' %>
        Message
      <% when 'memberships' %>
        Membership
      <% when 'matches' %>
        Match
      <% end %>
    </h1>
  </div>
  
  <div class="flex-1"><%# Empty div for balance %></div>
</div> 

<style>
  .gradient-background {
    background: linear-gradient(135deg, 
      #ff758c 0%,    /* Màu hồng đậm */
      #FF7EB3 50%,   /* Màu hồng trung gian */
      #ffc3a0 100%   /* Màu vàng cam */
    );
  }
</style> 