<div class="boolean-group">
  <label>
    <%= form.radio_button field.name, true %>
    <span><i class="fas fa-check"></i></span>
  </label>
  <label>
    <%= form.radio_button field.name, false %>
    <span><i class="fas fa-times"></i></span>
  </label>
</div> 