<div class="controls">
  <%= form.select field.name, 
    memberships.map { |m| [m.TypeMem, m.id] },
    { include_blank: 'Select Membership' },
    class: 'form-control',
    style: 'height: 45px; min-height: 45px; padding: 10px 20px; font-weight: 500; font-size: 16px; line-height: 1.5; display: block; width: 100%; outline: 0; background: #fff; color: #282828; border: 1px solid #ced4da; border-radius: 18px; transition: all 0.2s ease-in-out;'
  %>
</div> 