<div id="<%= dom_id match %>">
  <p>
    <strong>User1id:</strong>
    <%= match.User1ID %>
  </p>

  <p>
    <strong>User2id:</strong>
    <%= match.User2ID %>
  </p>

  <p>
    <strong>Matchtimestamp:</strong>
    <%= match.MatchTimestamp %>
  </p>

</div>
